body {
  max-width: 1024px;
  margin: 0 auto;
  background: #f1ccb4c4;
  border: 2px white solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  position: relative;
  background: #411e08f3;
  color: #d4c6c6;
  height: 60px;
}

h1 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 3px 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}

li {
  margin: 10px 0;
  clear: left;
}

.photo {
  float: right;
}